body {
  background: $beige;
  color: $purple;
  font-family: $body-font;

  h2 {
    color: $gold;
    font-family: $title-font;
  }

  h4 {
    font-family: $title-font;
  }

  // .btn {
  //   background-color: $Medieval-Illustrations-1-hex;
  //   border-color: $Medieval-Illustrations-1-hex;
  //
  //   &:hover {
  //     background-color: lighten($Medieval-Illustrations-1-hex, 10%);
  //     border-color: lighten($Medieval-Illustrations-1-hex, 10%);
  //   }
  // }

  .btn {
    background-color: $blood-red;
    border-color: $blood-red;
    color: $gold;

    &:hover {
      background-color: $blood-red;
      border-color: $blood-red;
      color: $gold;
    }
  }

  a {
    color: $blood-red;

    &:hover {
      color: lighten($blood-red, 10%);
    }
  }

}
