@import url('https://fonts.googleapis.com/css?family=Uncial+Antiqua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua&display=swap');

/* Breakpoints */
$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

/* Color Theme Swatches in Hex */
$Medieval-Illustrations-1-hex: #025949;
$Medieval-Illustrations-2-hex: #593D07;
$Medieval-Illustrations-3-hex: #F29057;
$Medieval-Illustrations-4-hex: #F2490C;
$Medieval-Illustrations-5-hex: #8C0F0F;

$gold: #F2B705;
$blood-red: #8C311C;
$purple: #4F3E8C;
$magic-purple: #4226A6;
$beige: #BF8D50;
$wood: #593d07;
$magic-orange: #F25D27;

$body-font: 'Inknut Antiqua', serif;
$title-font: 'Uncial Antiqua', cursive;

$deep-red: #4D0808;

$phi: 1.618;
$card-pull: -50px;
$transition: 0.4s ease-out;
