@import url('https://fonts.googleapis.com/css?family=Uncial+Antiqua&display=swap');

/* Breakpoints */
$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

/* Color Theme Swatches in Hex */
$Medieval-Illustrations-1-hex: #025949;
$Medieval-Illustrations-2-hex: #593D07;
$Medieval-Illustrations-3-hex: #F29057;
$Medieval-Illustrations-4-hex: #F2490C;
$Medieval-Illustrations-5-hex: #8C0F0F;

/* Color Theme Swatches in RGBA */
$Medieval-Illustrations-1-rgba: rgba(1,89,73, 1);
$Medieval-Illustrations-2-rgba: rgba(89,60,7, 1);
$Medieval-Illustrations-3-rgba: rgba(242,144,87, 1);
$Medieval-Illustrations-4-rgba: rgba(242,73,12, 1);
$Medieval-Illustrations-5-rgba: rgba(140,15,15, 1);

/* Color Theme Swatches in HSLA */
$Medieval-Illustrations-1-hsla: hsla(168, 96, 17, 1);
$Medieval-Illustrations-2-hsla: hsla(39, 85, 18, 1);
$Medieval-Illustrations-3-hsla: hsla(22, 85, 64, 1);
$Medieval-Illustrations-4-hsla: hsla(16, 90, 49, 1);
$Medieval-Illustrations-5-hsla: hsla(0, 80, 30, 1);

$phi: 1.618;
$card-pull: -50px;
